<div id="sidebar">
  <h4 id="app-title">{{ title }}</h4>
  <div class="nav-items">
    <h5 class="nav-items-title">Discover</h5>
    <a routerLink="/dashboard"><mat-icon aria-hidden="false" aria-label="Home icon" fontIcon="home"></mat-icon>Home</a>
    <a routerLink="/search"><mat-icon aria-hidden="false" aria-label="Search icon" fontIcon="search"></mat-icon>Search</a>
  </div>
  <div class="nav-items">
    <h5 class="nav-items-title">Settings</h5>
    <a routerLink="/profile"><mat-icon aria-hidden="false" aria-label="Person icon" fontIcon="person"></mat-icon>Profile</a>
    <a routerLink="/login"><mat-icon>exit_to_app</mat-icon>Logout</a>
  </div>
</div>
