<div id="sidebar">
  <h4 id="app-title">{{ "title" | translate }}</h4>
  <div class="nav-items">
    <h5 class="nav-items-title">{{ "sidebar.discover" | translate }}</h5>
    <a routerLink="/"
      ><mat-icon
        aria-hidden="false"
        aria-label="Home icon"
        fontIcon="home"
      ></mat-icon
      >{{ "sidebar.home" | translate }}</a
    >
    <a routerLink="/search"
      ><mat-icon
        aria-hidden="false"
        aria-label="Search icon"
        fontIcon="search"
      ></mat-icon
      >{{ "sidebar.search" | translate }}</a
    >
  </div>
  <div class="nav-items">
    <h5 class="nav-items-title">{{ "sidebar.settings" | translate }}</h5>
    <ng-container *ngIf="isAuthorized">
      <a [routerLink]="`/profile/${userId}`"
        ><mat-icon
          aria-hidden="false"
          aria-label="Person icon"
          fontIcon="person"
        ></mat-icon
        >{{ "sidebar.profile" | translate }}</a
      >
      <a routerLink="/new-event/"
        ><mat-icon
          aria-hidden="false"
          aria-label="Person icon"
          fontIcon="person"
        ></mat-icon
        >{{ "sidebar.new_event" | translate }}</a
      >
    </ng-container>

    <mat-form-field class="form-group">
      <mat-label>{{ "language.title" | translate }}</mat-label>
      <mat-select
        (valueChange)="onLanguageChange($event)"
        name="language"
        [(ngModel)]="selectedLanguage"
      >
        <mat-option value="en"
          >{{ "language.english" | translate }}
        </mat-option>
        <mat-option value="hr">
          {{ "language.croatian" | translate }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <ng-container *ngIf="isAuthorized; else notAuthorized">
      <button class="logout-btn" (click)="onLogout()" mat-button>
        <mat-icon>exit_to_app</mat-icon>{{ "sidebar.logout" | translate }}
      </button>
    </ng-container>
    <ng-template #notAuthorized>
      <button class="logout-btn" (click)="navigateToLogin()" mat-button>
        <mat-icon>exit_to_app</mat-icon>{{ "sidebar.login" | translate }}
      </button>
    </ng-template>
  </div>
</div>
