#search-filter{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.search-button{
    background-color: #FFE3E3;
    padding: 20px;
}

.form-group > *{
    display: flex;
    align-items: center;
    height: 100%;
}

.profile-img{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.category{
    border: 1px solid #E0E0E0;
    border-radius: 25px;
    padding: 10px;
}