:host {
  display: block;
  height: 100%;
}

.app-container {
  height: 100vh;
}

mat-drawer {
  width: 250px;
  border-right: 2px solid E0E0E0;
}

#site-content {
  margin: 20px 20px 50px 0;
  padding-left: 15px;
  overflow-y: auto;
}