<div id="overview-container">
  <div>
    <div class="personal-info">
      <h1>{{ "profile.personal_contact_info" | translate }}</h1>
      <div class="data-table">
        <p>{{ "profile.location" | translate }}</p>
        <p>Data</p>
      </div>
      <div class="data-table">
        <p>{{ "profile.contact_email" | translate }}</p>
        <p>Data</p>
      </div>
    </div>

    <div class="bio-info">
      <h1>{{ "profile.bio" | translate }}</h1>
      <div class="data-table">
        <p>Some bio.....</p>
      </div>
      <div class="data-table">
        <p>{{ "profile.current_status" | translate }}</p>
        <p>Available</p>
      </div>
    </div>
  </div>

  <section class="events">
    <h3>{{ "profile.volunteer_history" | translate }}</h3>
    <div class="events-list">
      <ng-container>
        <img src="https://randomuser.me/api/portraits/men/1.jpg" />
        <div>
          <h4>Naslov - 12.6.2025 12:00</h4>
          <p>Zagreb - Zapruđe</p>
        </div>
      </ng-container>
    </div>
  </section>

  <section class="events">
    <h3>{{ "profile.my_events" | translate }}</h3>
    <div class="events-list">
      <ng-container>
        <img src="https://randomuser.me/api/portraits/men/1.jpg" />
        <div>
          <h4>Naslov - 12.6.2025 12:00</h4>
          <p>Zagreb - Zapruđe</p>
        </div>
      </ng-container>
    </div>
  </section>
</div>
