.carousel {
  display: flex;
  flex-direction: column;
}

.carousel-info {
  margin-bottom: 15px;
}

.carousel-title {
  font-size: 34px;
  font-weight: 700;
}

.carousel-description {
  font-size: 16px;
  color: #454545;
}

.cards {
  display: flex;
  justify-content: flex-start;
  gap: 5px;
}
