<div>
  <h1>{{ event?.title | titlecase }}</h1>
  <p class="description">{{ event?.description }}</p>
  <div class="container">
    <div class="time-place-container">
      <mat-icon
        aria-hidden="false"
        aria-label="Search icon"
        fontIcon="location_on"
      ></mat-icon>
      <p>{{event?.location}}</p>
    </div>
    <div class="time-place-container">
      <mat-icon
        aria-hidden="false"
        aria-label="Search icon"
        fontIcon="access_time"
      ></mat-icon>
      <p>{{ event?.startDateTime | date : "dd.MM.yyyy. HH:mm" }}</p>
    </div>
    <div class="time-place-container">
      <mat-icon
        aria-hidden="false"
        aria-label="Search icon"
        fontIcon="place"
      ></mat-icon>
      <p>{{ event?.address }}</p>
    </div>
  </div>

  <div class="images">
    <ng-container *ngFor="let path of event?.images">
      <img [src]="path.imagePath" />
    </ng-container>
  </div>

  <div class="details">
    <h4>Details</h4>
    <p>
      {{ event?.details }}
    </p>
  </div>
</div>
