<div class="main-container">
  <h1 class="title">{{ "new_event.title" | translate }}</h1>
  <form
    #newEventForm="ngForm"
    (ngSubmit)="formSubmit()"
    id="new-event-form"
    autocomplete="auto"
  >
    <mat-form-field class="form-group">
      <mat-label>{{ "new_event.category" | translate }}</mat-label>
      <mat-select
        required
        [(ngModel)]="selectedCategory"
        name="category"
        #categoryRef="ngModel"
        [ngModelOptions]="{ standalone: true }"
      >
        <ng-container *ngFor="let cat of eventCategories">
          <mat-option [value]="cat">{{
            ("event_category." + cat) | translate | titlecase
          }}</mat-option>
        </ng-container>
      </mat-select>
      <mat-error *ngIf="categoryRef.invalid && categoryRef.touched">
        {{ "new_event.category_required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>{{ "new_event.title_label" | translate }}</mat-label>
      <input
        type="text"
        matInput
        name="title"
        required
        [(ngModel)]="selectedTitle"
        #titleRef="ngModel"
        [placeholder]="'new_event.title_label' | translate"
        autocomplete="auto"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-error *ngIf="titleRef.invalid && titleRef.touched">
        {{ "new_event.title_required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>{{ "new_event.description" | translate }}</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosize="cdkTextareaAutosize"
        name="description"
        required
        [(ngModel)]="selectedDescription"
        #descriptionRef="ngModel"
        [placeholder]="'new_event.description' | translate"
        autocomplete="auto"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
      <mat-error *ngIf="descriptionRef.invalid && descriptionRef.touched">
        {{ "new_event.description_required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>{{ "new_event.details" | translate }}</mat-label>
      <textarea
        matInput
        cdkTextareaAutosize
        #autosizeDetails="cdkTextareaAutosize"
        name="details"
        [(ngModel)]="selectedDetails"
        [placeholder]="'new_event.details' | translate"
        autocomplete="auto"
        [ngModelOptions]="{ standalone: true }"
      ></textarea>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>{{ "new_event.location" | translate }}</mat-label>
      <input
        type="text"
        matInput
        name="location"
        required
        [(ngModel)]="selectedLocation"
        #locationRef="ngModel"
        [placeholder]="'new_event.location' | translate"
        autocomplete="auto"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-error *ngIf="locationRef.invalid && locationRef.touched">
        {{ "new_event.location_required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>{{ "new_event.address" | translate }}</mat-label>
      <input
        type="text"
        matInput
        name="address"
        [(ngModel)]="selectedAddress"
        [placeholder]="'new_event.address' | translate"
        autocomplete="auto"
        [ngModelOptions]="{ standalone: true }"
      />
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>{{ "new_event.choose_date" | translate }}</mat-label>
      <input
        name="date"
        matInput
        [matDatepicker]="picker"
        required
        [(ngModel)]="selectedDate"
        #dateRef="ngModel"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
      <mat-error *ngIf="dateRef.invalid && dateRef.touched">
        {{ "new_event.date_required" | translate }}
      </mat-error>
    </mat-form-field>

    <mat-form-field class="form-group">
      <mat-label>{{ "new_event.meeting_time" | translate }}</mat-label>
      <input
        name="time"
        matInput
        [matTimepicker]="timepicker"
        required
        [(ngModel)]="selectedTime"
        #timeRef="ngModel"
        autocomplete="auto"
        [ngModelOptions]="{ standalone: true }"
      />
      <mat-timepicker #timepicker></mat-timepicker>
      <mat-timepicker-toggle [for]="timepicker" matSuffix></mat-timepicker-toggle>
      <mat-error *ngIf="timeRef.invalid && timeRef.touched">
        {{ "new_event.time_required" | translate }}
      </mat-error>
    </mat-form-field>

    <div class="form-group input-image">
      <input
        type="file"
        name="image"
        [placeholder]="'new_event.upload_images' | translate"
        (change)="onFileSelected($event)"
        multiple
        accept="image/*"
        autocomplete="auto"
      />
    </div>

    <button
      type="submit"
      class="save-btn"
      mat-button
      [disabled]="newEventForm.invalid"
    >
      {{ "new_event.create" | translate }}
    </button>
  </form>

  <div
    id="image-preview"
    [ngStyle]="{ 'margin-bottom': selectedImages.length > 0 ? '200px' : '0' }"
  >
    <ng-container *ngFor="let path of imagePreviews; let i = index">
      <img
        [src]="path"
        alt="{{ 'new_event.image_preview_alt' | translate }}"
        (click)="removeImage(i)"
      />
    </ng-container>
  </div>
</div>
