<div class="main-container">
  <h1 class="title">{{ "title" | translate }}</h1>
  <h2>{{ "auth.subtitle" | translate }}</h2>
  <p>Fill out the form below</p>
  <form (ngSubmit)="formSubmit()" id="register-form" autocomplete="auto">
    <mat-form-field class="form-group">
      <input
        type="email"
        matInput
        name="email"
        [placeholder]="'auth.email' | translate"
        [(ngModel)]="email"
        autocomplete="auto"
      />
    </mat-form-field>
    <mat-form-field class="form-group">
      <input
        type="password"
        matInput
        name="password"
          [placeholder]="'auth.password' | translate"
        [(ngModel)]="password"
        autocomplete="auto"
      />
    </mat-form-field>
        <mat-form-field class="form-group">
      <input
        type="password"
        matInput
        name="confirm-password"
          [placeholder]="'auth.confirm_password' | translate"
        [(ngModel)]="confirmPassword"
        autocomplete="auto"
      />
    </mat-form-field>
        <mat-form-field class="form-group">
      <input
        type="text"
        matInput
        name="firstname"
          [placeholder]="'auth.firstname' | translate"
        [(ngModel)]="firstname"
        autocomplete="auto"
      />
    </mat-form-field>
        <mat-form-field class="form-group">
      <input
        type="text"
        matInput
        name="lastname"
        [placeholder]="'auth.lastname' | translate"
        [(ngModel)]="lastname"
        autocomplete="auto"
      />
    </mat-form-field>
    <button type="submit" class="login-btn" mat-button>{{ "auth.register" | translate }}</button>
  </form>
  <p class="divider">{{ "auth.or_register_guest" | translate }}</p>
  <div class="other-option">
    <a routerLink="/" mat-button>{{ "auth.guest" | translate }}</a>
    <a routerLink="/login" mat-button>{{ "auth.login" | translate }}</a>
  </div>
</div>
