<div id="profile-container">
  <div id="top-background"></div>
  <div class="profile-content">
    <div class="profile-image">
      <img [src]="user?.profilePicturePath" />
      <div>
        <h3>{{ user?.name }} {{ user?.surname }}</h3>
        <p>{{ user?.username }}</p>
      </div>
    </div>

    <nav class="nav">
      <p>{{ "profile.overview" | translate }}</p>
    </nav>
  </div>

  <div id="overview-container">
    <div>
      <div class="personal-info">
        <h1>{{ "profile.personal_contact_info" | translate }}</h1>
        <div class="data-table">
          <p>{{ "profile.location" | translate }}</p>
          <p>Zagreb</p>
        </div>
        <div class="data-table">
          <p>{{ "profile.contact_email" | translate }}</p>
          <p>{{ user?.email }}</p>
        </div>
      </div>

      <div class="bio-info">
        <h1>{{ "profile.bio" | translate }}</h1>
        <div class="data-table">
          <p>{{ user?.bio }}</p>
        </div>
        <div class="data-table">
          <p>{{ "profile.current_status" | translate }}</p>
          <p>Available</p>
        </div>
      </div>
    </div>

    <section class="events">
      <h3>{{ "profile.volunteer_history" | translate }}</h3>
      <div>
        <ng-container *ngFor="let event of myPastEvents">
          <div class="events-list">
            <img src="https://randomuser.me/api/portraits/men/1.jpg" />
            <div>
              <h4>
                {{ event.title }} -
                {{ event.startDateTime | date : "dd/MM/yyyy HH:mm:ss" }}
              </h4>
              <p>{{ event.location }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </section>

    <section class="events">
      <h3>{{ "profile.my_events" | translate }}</h3>
      <div>
        <ng-container *ngFor="let event of myEvents">
          <div class="events-list">
            <img src="https://randomuser.me/api/portraits/men/1.jpg" />
            <div>
              <h4>
                {{ event.title }} -
                {{ event.startDateTime | date : "dd/MM/yyyy HH:mm:ss" }}
              </h4>
              <p>{{ event.location }}</p>
            </div>
          </div>
        </ng-container>
      </div>
    </section>
  </div>
</div>
